# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite
*.sqlite3
db.sqlite3

# Логи
*.log

# Папки редакторов
.vscode/
.idea/

# Скомпилированные файлы перевода
*.mo